.site-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.custom-logo {
		max-width: 600px;
}

.wp-block-media-text {
	align-items: start;
	grid-template-areas:
    "a b";
	grid-template-columns: fit-content(50%);
}

.wp-block-media-text .wp-block-media-text__media {
	align-self: start;
}

.wp-block-media-text__media img {
	grid-area: a;
	border: 1px solid $color__text-main;
}

.wp-block-media-text__content {
	grid-area: b;
	align-self: start;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.custom-logo {
		width: 100%;
		max-width: 400px;
	}
	.post {
		width: 100%;
		max-width: 400px;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.custom-logo {
		width: 100%;
	}
	.post {
		width: 100%;
		max-width: 500px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.custom-logo {
		width: 100%;
	}
	.post {
		width: 90%;
		max-width: 650px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.custom-logo {
		width: 100%;
	}
	.post {
		width: 100%;
		max-width: 750px;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.custom-logo {
		width: 100%;
	}
	.post {
		width: 100%;
		max-width: 800px;
	}
}


